.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-color: teal;
}

h1{
  margin-bottom: 25px;
}

textarea{
  width: 65%;
  height: 98%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 0 11px rgba(0,0,0,0.1);
}